<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Best Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" type="text/css" href="./style.css" />
  <script src="./index.js"></script>
</head>



<body>
  <div class="header" id="myHeader">
    <h2>Header</h2>
  </div>
  {{{body}}}
  <div class="footer">
    <p>Footer</p>
  </div>
</body>

</html>