<div class="content-block">
  <!--  -->
  <div
    class="landing-block"
    style="background-image: url('./images/burgveg.jpg');"
  >
    <h1>
      Meals and grocery delivered.
    </h1>

    <div class="call-to-action-btns">
      <a href="./package-listing">
        <div class="btn-lg" style="margin-right: 1%;">
          <p>View Packages</p>
        </div>
      </a>
      <div class="btn-lg" style="margin-left: 1%;">
        <p>Build your order</p>
      </div>
    </div>
  </div>
</div>
<!--  -->

<div class="landing-page-grocery">
  <h3 class="landing-page-grocery-items">grocery</h3>
  <p class="landing-page-grocery-items">
    Shop fruits, vegetables, juices, coffee & more from home. No additional
    fees.
  </p>
  <div class="btn landing-page-grocery-items">
    <p class="">Order Now</p>
  </div>
</div>

<!-- how-it-works-section -->
<div class="content-block">
  <div class="how-it-works-section">
    <h3>No cooking, just eating</h3>
    <!--  -->
    <div class="how-it-works-images">
      <div class="work-box">
        <img src="./images/Pick_1.gif" alt="Pick One" />
        <h5>Pick</h5>
        <p>100+ menu of all-natural dishes.</p>
      </div>
      <div class="work-box">
        <img src="./images/heat.gif" alt="Heat" />
        <h5>Heat</h5>
        <p>Cooked & delivered</p>
      </div>
      <div class="work-box">
        <img src="./images/eat_1_1.gif" alt="Eat" />
        <h5>Eat</h5>
        <p>Delicious & nutritious.</p>
      </div>
      <div class="work-box">
        <img src="./images/repeat---Copy.gif" alt="Repeat" />
        <h5>Repeat</h5>
        <p>Skip a week or cancel any time.</p>
      </div>
    </div>
  </div>
</div>
<!-- towards-goals-section  -->
<div class="content-block">
  <div
    class="towards-goals-section"
    style="background-image: url('./images/manandwoman.png');"
  >
    <h1 class="towards-goals-section-item">
      Eat towards your goals
    </h1>
    <p class="towards-goals-section-item">
      Lose weight, gain muscle, go Vegan or eat Keto - we've got you covered
    </p>
    <div class="btn-lg towards-goals-section-item">
      <p class="">our Goal Packages</p>
    </div>
  </div>
</div>

<!-- menu  -->
<div class="menu-block">
  <div class="menu-introduction">
    <h3 class="menu-title menu-block-item">
      Our chefs are making these right now!
    </h3>
    <div class="menu-block-item">
      <p class="menu-summary">
        You could be chowing down on any of these meals any time you choose -
        seriously!
      </p>
      <p class="menu-summary">
        Order some (or all) of these meals and see why thousands of Canadians
        stock us in their fridge!
      </p>
    </div>
  </div>
  <div class="menu-items menu-block-item">
    <!-- menu items -->
    {{> foodMenu}}
    <!-- menu items -->
  </div>
  <p class="menu-summary menu-block-item">
    Mouth watering? We've got more where those came from on our full menu.
  </p>
  <div class="btn towards-goals-section-item menu-block-item">
    <p>
      OUR FULL MENU
    </p>
  </div>
</div>

<!-- ready-to-eat -->
<div class="content-block">
  <div
    class="ready-to-eat-section"
    style="background-image: url('./images/munch.webp');"
  >
    <h1>Ready to eat?</h1>
    <p>Try LiveFit today with no commitment.</p>
    <p>Skip or cancel anytime.</p>
  </div>
</div>
