<div class="login-page">
  <div class="form">
    <form class="login-form" action="/login" method="post">
      <input type="text" placeholder="username" name="username" />
      <input type="password" placeholder="password" name="password" />
      <button type="submit">login</button>
      <p class="message">
        Not registered? <a href="./register">Create an account</a>
      </p>
    </form>
  </div>
</div>
