<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>register</button>
            <p class="message">Already registered? <a href="./login">Sign In</a></p>
        </form>
    </div>
</div>