@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 3.5em;
}

h3 {
  font-size: 2em;
}

h5 {
  font-size: 1.3em;
}
p {
  font-size: large;
}

a {
  text-decoration: none;
}

.header {
  padding: 10px 16px;
  background-color: whitesmoke;
}

@media (max-width: 600px) {
  .site-header {
    flex-wrap: wrap;
  }

  .site-nav {
    order: 2;
    background: #333;
    width: 100%;
  }
}
.site-header {
  background: whitesmoke;
  color: black;
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
}

.site-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.site-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #1a1a1a;
  padding: 20px;
  display: inline-block;
}
.site-nav .active a {
  font-weight: bold;
  color: whitesmoke;
  background: #ea455a;
}

.dropdown ul {
  display: none;
}

.dropdown:hover ul {
  list-style: none;
  display: block;
}
.dropdown:hover ul li a {
  text-decoration: none;
  padding: 20px;
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sign-out-link {
  color: #ea455a;
  text-decoration: none;
  font-size: 1.1rem;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.content {
  min-height: 100%;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.footer {
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: grey;
  text-align: center;
}

.footer p {
  font-size: 0.8em;
}

/* BUTTON  */
.btn {
  background-color: #ea455a;
  color: #f2f2f2;
  text-align: center;
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-lg {
  background-color: #ea455a;
  color: #f2f2f2;
  text-align: center;
  width: 250px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

/*  */
/* LANDING PAGE  */
/*  */

.content-block {
  width: 100%;
  height: 85vh;
}

.landing-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.call-to-action-btns {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}

.landing-page-grocery {
  background-color: green;
  height: 12vh;
  width: 100%;
  display: flex;
  padding: auto 10%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-page-grocery-items {
  margin: auto 1%;
}

.how-it-works-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.how-it-works-images {
  margin: 6% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.how-it-works-images img {
  width: 100%;
  margin-bottom: 5%;
}

.work-box {
  height: 170px;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  text-align: center;
}

.work-box img {
  height: 140px;
  width: 140px;
}

.towards-goals-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  background-attachment: fixed;
  color: white;
}

.towards-goals-section-item {
  margin: 1% auto;
}

.menu-block {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 3% 0 5%;
}

.menu-block-item {
  margin: 1.5% auto;
}

.ready-to-eat-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-attachment: fixed;
  color: white;
}

.ready-to-eat-section h1 {
  margin-bottom: 2%;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  object-fit: cover;
  column-gap: 3%;
  row-gap: 5%;
  margin: 3% 5% 8%;
  font-weight: 600;
}

.menu-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 250px;
  max-width: 250px;
  margin: 5%;
  text-align: center;
}

.menu-items-container img {
  max-height: 230px;
  max-width: 250px;
}

/*  */
/* LOGIN  */
/*  */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #ea455a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #ea455a;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #ea455a;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}

/*  */
/* PACKAGE LISTING  */
/*  */

.package-listing-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
  text-align: center;
  padding: 3% auto 3%;
  background-attachment: fixed;
  color: white;
}

.package-listing-content {
  margin: auto 6%;
}

.package-listing-subheading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  text-align: center;
  padding: 3% auto 3%;
}

.package-listing-value-package {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 17vh;
  padding: 1% 3%;
  background-color: yellow;
  border-radius: 10px;
}

.package-listing-value-package div {
  display: grid;
  height: 100%;
  max-height: 400px;
}

.package-listing-packages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  object-fit: cover;
  column-gap: 3%;
  margin: 3% 0 2%;
  padding: 1% 0;
  width: 100%;
  height: 80vh;
}

.package-listing-packages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 450px;
  max-width: 250px;
  text-align: center;
  padding: auto auto;
}

.package-listing-packages-container img {
  max-height: 250px;
  width: 100%;
  border-radius: 5px;
  align-self: stretch;
}

.package-listing-packages-container h5 {
  margin: 2% auto;
}

.package-listing-packages-container .btn {
  margin: 3% auto;
}

.package-listing-packages-container p {
  font-size: medium;
}
